header{
    background-color:rgb(255, 183, 0);
}
main{
    background-color: rgb(21, 104, 76);
}
aside{
    background-color: rgb(245, 83, 47);
}
footer{
    background-color:rgb(247, 23, 23);
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 1rem;
    grid-template-areas:
    "cabeza cabeza cabeza"
    "principal principal lado"
    "pie pie pie"
    ;
}
header{
    grid-area: cabeza;
}
main{
    grid-area: principal;
}
aside{
    grid-area: lado;
   
}
footer{
    grid-area: pie;
}

svg{
    width: 50%;
}

h1, p{
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.borde{
    border-radius: 10px 10px 10px 10px;
}