/* Esta es mi hoja de estilos */
main {
    padding: 8rem;
    border: 10px rgba(48, 100, 50, 0.637) dotted;
    margin: 5rem;
    /* border-radius: 2rem; */
}
img{
    object-fit: cover;
    width: 100%;
}